body{
    height: 50px;
    min-width: 350px;
}
#results{
    margin: 0px;
}

#results div{
    position: relative;
    margin: 0;
} 

#results a{
    font-size: 15px;
    font-weight: 300;
    color: #039be5;
}
#results button{
    position: absolute; 
    top:0; 
    right:0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #004d40;
}

#seeker{
    margin: 5px; 
    width: 96vw;
}
